@using Yerel.ClipTwo.Models
@model BucketViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bucketList = Model.Buckets;
}

<div class="wrap-content container" id="container">
    <!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Basic Operations with Buckets</h1>
                <span class="mainDescription">Refers to data arranged in rows and columns. A spreadsheet, for example, is a table. In relational database management systems, all information is stored in the form of tables. <small class="block">Webopedia - Online Tech Dictionary for IT Professionals</small></span>
            </div>
            <ol class="breadcrumb">
                <li>
                    <span>Tables</span>
                </li>
                <li class="active">
                    <span>Basic Buckets</span>
                </li>
            </ol>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC TABLE -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <h5 class="over-title margin-bottom-15">Bucket <span class="text-bold">Tables</span></h5>
                <p>
                    Here are you listing the bucket.You can CREATE/VERSIONING/ACCELARATE buckets in AWS.
                </p>
                <table class="table table-hover" id="sample-table-1">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Name</th>
                            <th class="hidden-xs">Date</th>
                            <th>Public</th>
                            <th class="hidden-xs">Version</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in bucketList)
                        {
                            <tr>
                                <td class="center">1</td>
                                <td class="hidden-xs">@item</td>
                                <td>@item</td>
                                <td>
                                    <a href="#" rel="nofollow" target="_blank">
                                        @item
                                    </a>
                                </td>
                                <td class="hidden-xs">@item</td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a href="@Url.Action("Create", "Bucket")" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Add New"><i class="fa fa-plus"> create</i></a>
                                        <a href="@Url.Action("Version", "Bucket")" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Versioning"><i class="fa fa-file"> versioning</i></a>
                                        <a href="@Url.Action("Accelarate", "Bucket")" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Accelarate"><i class="fa fa-times fa fa-flash">accelarate</i></a>
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group" dropdown is-open="status.isopen">
                                            <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle>
                                                <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                <li>
                                                    <a href="#">
                                                        Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Share
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Remove
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end: BASIC TABLE -->
</div>
